@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.productsCarrousel{
    width: 100vw;
    background-color: #F5F5F5;
    position: relative;
    padding-bottom: 30px;
    margin-top: 50px;
}
.productsCarrousel__carrousel{
    margin: 0 5px;
}
.productsCarrousel__title{
    display: block;
    text-align: center;
    padding: 25px 0;
    font-weight: 400;
    font-size: 28px;
    color: #4E4E4E;
}
/* .productsCarrousel__btns > .chevron-right-carousel{
    position: absolute;
    right: 40px;
    top: 45%;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.productsCarrousel__btns > .chevron-left-carousel{
    position: absolute;
    left: 40px;
    top: 45%;
    font-size: 30px;
    color: rgb(255, 255, 255);
} */
.productsCarrousel__carrousel-image{
    max-width: 280px;
    max-height: 270px;
    margin-left: 10px;
    height: 100%;
    object-fit: cover;
}
.flex-colum{
    display: flex;
    flex-direction: column;
}
.productsCarrousel__carrousel-info__name,
.productsCarrousel__carrousel-image{
    cursor: pointer;
}
.productsCarrousel__carrousel-info{
    color: #4E4E4E;
    text-align: center;
    margin-top: 10px;
}
.productsCarrousel__carrousel-info__price{
    font-weight: bold;
    margin-top: 10px;
}
.carrousel:before,
.carrousel:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 250px;
  top: 0;
  height: 100%;
  pointer-events: none;
}
.carrousel:before {
  left: 0;
  background: linear-gradient(to right,#fff 0,hsla(0,0%,100%,0));
}
.carrousel:after {
  right: 0;
  background: linear-gradient(to left,#fff 0,hsla(0,0%,100%,0));
}
@media screen and (max-width:650px){
    .carrousel:before,
.carrousel:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 150px;
  top: 0;
  height: 100%;
  pointer-events: none;
}

}
@media screen and (max-width:420px){
    .productsCarrousel__carrousel-image{
        max-width: 230px;
        margin-left: 10px;
        height: 100%;
        object-fit: cover;
    }
    .carrousel:before,
.carrousel:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100px;
  top: 0;
  height: 100%;
  pointer-events: none;
}

}